@model Knjizara.Models.Genre
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}

<div class=" unosForma">
    <h1><i>Genre details</i></h1>
    <div class="listaKnjiga">
        <table border="1" align="center">
            <tr>
                <th>Name</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
            </tr>
        </table>
    </div>
</div>
