
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}

<div class="navigacioniMeni">
    <a href="/Book/Create">Home</a>
    <a href="/Book/Index">All books</a>
    <a href="/Book/DeletedBook">Deleted books</a>
    <a href="/Genre/Create">Add genre</a>
    <a href="/Genre/Index">All genre</a>
    <a href="/Genre/DeleteGenre">Deleted genre</a>
    <a href="/Book/Search">Search by genre</a>
</div>
<div class="greska">
    <h2>Greska</h2>
    @TempData["Message"]

</div>


