@using Knjizara.Models
@model IEnumerable<Genre>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}

<div class=" unosForma">
    <h1><i>List all genre</i></h1>
    <div class="listaKnjiga">
        <table border="1" align="center">
            <tr>
                <th>Name of genre</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            @foreach (Genre g in Model)
            {
                if (g.Deleted == false)
                {
                    <tr>            
                        <td>@g.Name</td>
                        <td><a href="/Genre/Delete?Id=@g.Id">Delete</a></td>
                        <td><a href="/Genre/Update?Id=@g.Id">Update</a></td>
                        <td><a href="/Genre/Details?id=@g.Id">Details</a></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

