@using Knjizara.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "DeletedBook";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}

<div class=" unosForma">
    <h1><i>List all deleted books</i></h1>
    <div class="listaKnjiga">
        <table border="1" align="center">
            <tr>
                <th>Name of book</th>
                <th>Price of book</th>
                <th>Genre of book</th>
                <th>&nbsp;</th>

            </tr>
            @foreach (Book bo in Model)
            {
                if (bo.Deleted == true)
                {
                    <tr>
                        <td>@bo.Name</td>
                        <td>@bo.Price</td>
                        <td>@bo.Genre.Name</td>
                        <td><a href="/Book/Details?Id=@bo.Id">Details</a></td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

