@model Knjizara.Models.Book
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}
    <div class="navigacioniMeni">
        <a href="/Book/Create">Home</a>
        <a href="/Book/Index">All books</a>
        <a href="/Book/DeletedBook">Deleted books</a>
        <a href="/Genre/Create">Add genre</a>
        <a href="/Genre/Index">All genre</a>
        <a href="/Genre/DeleteGenre">Deleted genre</a>
        <a href="/Book/Search">Search by genre</a>
    </div>
<div class="unosForma">
    <h1><i>Book</i></h1>
    <div class="listaKnjiga">
        <table border="1" align="center">
            <tr>
                <th>Da li zelite da obrisete odabranu knjigu: @Model.Name?</th>
            </tr>

        </table>
        <form method="post">
            <input type="hidden" value="@Model.Id" />
            <input type="submit" value="Delete" />
        </form>
    </div>
</div>
