@model Knjizara.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}
   
<div class=" unosForma">
    <h1><i>Book details</i></h1>
    <div class="listaKnjiga">
        <table border="1" align="center">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Genre</th>
                <th>Deleted</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
                <td>@Model.Genre.Name</td>
                <td>@Model.Deleted</td>
            </tr>
        </table>
    </div>
</div>