@model Knjizara.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/KnjizaraLayout.cshtml";
}
    <div class="navigacioniMeni">
        <a href="/Book/Create">Home</a>
        <a href="/Book/Index">All books</a>
        <a href="/Book/DeletedBook">Deleted books</a>
        <a href="/Genre/Create">Add genre</a>
        <a href="/Genre/Index">All genre</a>
        <a href="/Genre/DeleteGenre">Deleted genre</a>
        <a href="/Book/Search">Search by genre</a>
    </div>
<div class=" unosForma">
    <h1><i>Book details</i></h1>
    <div class="listaKnjiga">
        <table border="1" align="center">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Genre</th>
                <th>Deleted</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
                <td>@Model.Genre.Name</td>
                <td>@Model.Deleted</td>
            </tr>
        </table>
    </div>
</div>